kinova_gen3_6dof.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mission" type="xs:string" minOccurs="1" />
                <xs:element ref="BehaviorTree" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="BTCPP_format" type="xs:integer" use="required" />
            <xs:attribute name="schema_location" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Control nodes -->
    <xs:element name="Sequence" type="BTNodeType" />
    <xs:element name="Fallback" type="FallbackType" />
    <xs:element name="Parallel" type="BTNodeType" />
    <xs:element name="Inverter" type="BTNodeType" />
    <xs:element name="Repeat" type="BTNodeType" />

    <!-- BehaviorTree definition -->
    <xs:element name="BehaviorTree">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Sequence" />
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Control flow nodes -->
    <xs:group name="ControlFlowGroup">
        <xs:choice>
            <xs:element ref="Sequence" />
            <xs:element ref="Fallback" />
            <xs:element ref="Parallel" />
            <xs:element ref="Inverter" />
            <xs:element ref="Repeat" />
        </xs:choice>
    </xs:group>

    <!-- Robot actions -->
    <xs:group name="ActionGroup">
        <xs:choice>
            <xs:element name="pickObject" type="pickObjectType"/>
            <xs:element name="placeObject" type="placeObjectType"/>
            <xs:element name="identifyObject" type="identifyObjectType"/>
            <xs:element name="goToPosition" type="goToPositionType"/>
        </xs:choice>
    </xs:group>

    <!-- Conditions -->
    <!-- <xs:group name="ConditionGroup">
        <xs:choice>
            <xs:element name="CheckValue" type="checkValueType" />
            <xs:element name="AssertTrue" type="assertTrueType" />
        </xs:choice>
    </xs:group> -->

    <!-- Decorators -->
    <xs:group name="DecoratorGroup">
        <xs:choice>
            <xs:element name="AlwaysSuccess" />
        </xs:choice>
    </xs:group>

    <!-- BTNodeType: control + actions only -->
    <xs:complexType name="BTNodeType">
        <xs:sequence>
            <!-- <xs:group ref="ConditionGroup" minOccurs="0" /> -->
            <xs:choice maxOccurs="unbounded" minOccurs="1">
                <xs:group ref="ActionGroup" />
                <xs:group ref="ControlFlowGroup" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <!-- FallbackType: sequence then decorators -->
    <xs:complexType name="FallbackType">
        <xs:sequence>
            <xs:element ref="Sequence" minOccurs="1" maxOccurs="unbounded"/>
            <xs:group ref="DecoratorGroup" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Leaf node types with attributes -->
    <!-- Complex type for pickObject -->
    <xs:complexType name="pickObjectType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="xs:string" use="required"
            fixed="/gripper_action" />
        <xs:attribute name="action_type" type="xs:string" use="required"
            fixed="close" />
        <xs:attribute name="gripForce" type="xs:decimal" use="required" />
    </xs:complexType>

    <!-- Complex type for placeObject -->
    <xs:complexType name="placeObjectType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="xs:string" use="required"
            fixed="/gripper_action" />
        <xs:attribute name="action_type" type="xs:string" use="required"
            fixed="open" />
        <xs:attribute name="releaseForce" type="xs:decimal" use="required" />
    </xs:complexType>

    <!-- Complex type for object segmentation -->
    <xs:complexType name="identifyObjectType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="xs:string" use="required"
            fixed="/detect_object" />
        <xs:attribute name="objectName" type="xs:string" use="required" />
        <xs:attribute name="objectColor" type="xs:string" use="optional" />
        <!-- distance to place the gripper from object in meters, default distance is set to be 0.75m. -->
        <xs:attribute name="objectDistance" type="xs:float" use="optional" />
    </xs:complexType>

    <!-- Simple type for end effector movement types -->
    <xs:simpleType name="movementType">
        <xs:restriction base="xs:string">
            <!-- relative movement defined by movement from end effector current position -->
            <!-- NOTE: +X is left, -X is right, +Y is up, -Y is down, +Z is forward, -Z is backward -->
            <xs:enumeration value="end_effector_link"/>
            <!-- absolute movement defined by movement from origin point, not current position -->
            <!-- NOTE: +X is right, -X is left, +Y is forward, -Y is backward, +Z is up, -Z is down -->
            <xs:enumeration value="base_link"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Complex type for moving to a pose -->
    <xs:complexType name="goToPositionType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="xs:string" use="required"
            fixed="/move_to" />
        <xs:attribute name="movement" type="movementType" use="required"/>
        <!-- meters in all directions -->
        <xs:attribute name="x" type="xs:decimal" use="optional"/>
        <xs:attribute name="y" type="xs:decimal" use="optional"/>
        <xs:attribute name="z" type="xs:decimal" use="optional"/>
        <!-- the 3 below are in radians -->
        <xs:attribute name="roll" type="xs:decimal" use="optional"/>
        <xs:attribute name="pitch" type="xs:decimal" use="optional"/>
        <xs:attribute name="yaw" type="xs:decimal" use="optional"/>
    </xs:complexType>

    <!-- Condition nodes -->
    <!-- checkValue -->
    <!-- <xs:complexType name="checkValueType">
        <xs:attribute name="comp" type="comparisonType" use="required" />
        <xs:attribute name="value" type="blackboardValueType" use="required" />
        <xs:attribute name="threshold" type="xs:decimal" use="required" />
    </xs:complexType> -->

    <!-- AssertTrue -->
    <!-- Assumed to be true -->
    <!-- <xs:complexType name="assertTrueType">
        <xs:attribute name="result" type="blackboardValueType" use="required" />
    </xs:complexType> -->

    <!-- Comparison types for ValueCondition -->
    <xs:simpleType name="comparisonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="lt" />
            <xs:enumeration value="lte" />
            <xs:enumeration value="gt" />
            <xs:enumeration value="gte" />
            <xs:enumeration value="eq" />
            <xs:enumeration value="neq" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="blackboardValueType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{[A-Za-z0-9_]+\}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="taskNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9_]+" />
        </xs:restriction>
    </xs:simpleType>


</xs:schema>