schemas/ros2_bt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mission" type="xs:string" minOccurs="1" />
                <xs:element ref="BehaviorTree" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="BTCPP_format" type="xs:integer" use="required" />
            <xs:attribute name="schema_location" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Control nodes -->
    <xs:element name="Sequence" type="BTNodeType" />
    <xs:element name="Fallback" type="BTNodeType" />
    <xs:element name="Parallel" type="BTNodeType" />
    <xs:element name="Repeat" type="BTNodeType" />

    <!-- BehaviorTree definition -->
    <xs:element name="BehaviorTree">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Sequence" />
            </xs:choice>
            <xs:attribute name="ID" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Generic node type -->
    <xs:complexType name="BTNodeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="Sequence" />
            <xs:element ref="Fallback" />
            <xs:element ref="Parallel" />
            <!-- All robot actions -->
            <xs:element name="MoveToTreeID" type="moveToTreeIDType" />
            <xs:element name="MoveToGPSLocation" type="moveToGPSLocationType" />
            <xs:element name="MoveToRelativeLocation" type="moveToRelativeLocationType" />
            <xs:element name="OrientRobotHeading" type="orientRobotHeadingType" />
            <xs:element name="DetectObject" type="detectObjectType" />
            <!-- Condition nodes -->
            <xs:element name="ValueCondition" type="valueConditionType" />
            <xs:element name="BoolCondition" type="boolConditionType" />
        </xs:choice>
    </xs:complexType>

    <!-- Leaf node types with attributes -->
    <!-- moveToTreeID -->
    <xs:complexType name="moveToTreeIDType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="actionServerEnumType" use="required" />
        <xs:attribute name="id" type="xs:integer" use="required" />
    </xs:complexType>

    <!-- moveToGPSLocation -->
    <xs:complexType name="moveToGPSLocationType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="actionServerEnumType" use="required" />
        <xs:attribute name="latitude" type="xs:decimal" use="required" />
        <xs:attribute name="longitude" type="xs:decimal" use="required" />
    </xs:complexType>

    <!-- moveToRelativeLocation -->
    <xs:complexType name="moveToRelativeLocationType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="actionServerEnumType" use="required" />
        <xs:attribute name="x" type="xs:decimal" use="required" />
    </xs:complexType>

    <!-- orientRobotHeading -->
    <xs:complexType name="orientRobotHeadingType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="actionServerEnumType" use="required" />
        <xs:attribute name="absolute" type="xs:boolean" use="required" />
        <xs:attribute name="yaw" type="xs:decimal" use="required" />
    </xs:complexType>

    <!-- detectObject -->
    <xs:complexType name="detectObjectType">
        <xs:attribute name="name" type="taskNameType" use="required" />
        <xs:attribute name="action_name" type="actionServerEnumType" use="required" />
        <xs:attribute name="object" type="xs:string" use="required" />
        <xs:attribute name="detected" type="blackboardValueType" use="required" />
    </xs:complexType>

    <xs:simpleType name="actionServerEnumType">
    <xs:restriction base="xs:string">
        <!-- moveToTreeIDType, moveToGPSLocationType, moveToRelativeLocationType, orientRobotHeadingType action name -->
        <xs:enumeration value="follow_gps_waypoints"/>
        <!-- detectObjectType action name -->
        <xs:enumeration value="detect_object"/>
    </xs:restriction>
    </xs:simpleType>

    <!-- Condition nodes -->
    <!-- valueCondition -->
    <xs:complexType name="valueConditionType">
        <xs:attribute name="comp" type="comparisonType" use="required" />
        <xs:attribute name="value" type="blackboardValueType" use="required" />
        <xs:attribute name="threshold" type="xs:decimal" use="required" />
    </xs:complexType>

    <!-- BoolCondition -->
    <xs:complexType name="boolConditionType">
        <xs:attribute name="value" type="blackboardValueType" use="required" />
        <xs:attribute name="expected" type="xs:boolean" use="required" />
    </xs:complexType>

    <!-- Comparison types for ValueCondition -->
    <xs:simpleType name="comparisonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="lt" />
            <xs:enumeration value="lte" />
            <xs:enumeration value="gt" />
            <xs:enumeration value="gte" />
            <xs:enumeration value="eq" />
            <xs:enumeration value="neq" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="blackboardValueType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{[A-Za-z0-9_]+\}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="taskNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9_]+" />
        </xs:restriction>
    </xs:simpleType>


</xs:schema>